
body {background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size:100%,100%;
background-color: rgb(0, 0, 0); 
display: flex;
justify-content: center;
align-items: center;

} 

.TitleContainer {
    position:absolute;
    left: 30%;
    top: 40%;
align-items: center;
text-align: left;
row-gap: 30px;
column-gap: 30px;
}

.TextCard {color: aliceblue;
    
font-size: 300%;}

.ClickToContinue{color: aliceblue;
    font-size: 200%;
    transition: 1s;
    
}
    .ClickToContinue:hover{
        color: rosybrown;
    }

.DarkWood{
    color: aliceblue;
    font-size: 220%;
    transition: 5s;
    animation: TitleFadeOut 7s forwards;
}

@keyframes TitleFadeOut {
    0%{opacity: 1;}
    100% {opacity: 0;}
}

.TextContent {
    color: aliceblue;
    font-size: 140%;
    transition: 3s;
    display: flex;
}
    .TextContent:hover{
        color: rosybrown;
    }

    .oneTwo{
        display: none;
        transform: translate(-20%,-30%);
        
    }
    .oneThree{
        display: none;
        transform: translate(0%,-10%);
    }
    .oneFour{
        display: none;
        transform: translate(-50%,-30%);
    }
    .oneFive{
        display: none;
    }
    .oneSix{
        display: none;
        transform: translate(-10%,30%);
    }
    .oneSeven{
        display: none;
        transform: translate(-20%,-30%);
    }
    .oneEight{
        display: none;
        transform: translate(0%,-30%);
    }
    .oneNine{
        display: none;
        transform: translate(-10%,-30%);
    }
    .oneTen{
        display: none;
        transform: translate(-20%,-30%);
    }
    .oneEleven{
        display: none;
        transform: translate(-50%,-30%);
    }
    .oneTwelve{
        display: none;
        transform: translate(-10%,20%);
    }
    .oneThirteen{
        display: none;
        transform: translate(10%,20%);
    }
    .oneFourteen{
        display: none;
        transform: translate(0%,20%);
    }
    .oneFifteen{
        display: none;
        transform: translate(-10%,20%);
    }



