/* breakpoints for scren size */
@media only screen and (max-width: 600px) {
    body{
        font-size: 90%;
        left: 10%;
      max-width: 80%;
    }
}

@media only screen and (min-width: 601px) {
    body{
        font-size: 90%;
        left: 10%;
      max-width: 80%;
    }
}

/* CSS styling for pages */
body {background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size:100%,100%;
background-color: rgb(0, 0, 0); 
display: flex;
justify-content: center;
align-items: center;

} 

.TitleContainer {
    position:absolute;
    left: 30%;
    top: 25%;
align-items: center;
text-align: left;
row-gap: 30px;
column-gap: 30px;
}

.TextCard {
    color: aliceblue;
    font-size: 300%;
}

.ClickToContinue {
    color: aliceblue;
    font-size: 200%;
    transition: 1s;
    
}
    .ClickToContinue:hover{
        color: rosybrown;
    }

.DarkWood{
    color: aliceblue;
    font-size: 220%;
    transition: 5s;
    animation: TitleFadeOut 7s forwards;
}

/* Animation keyframes */
@keyframes TitleFadeOut {
    0%{opacity: 1;}
    100% {opacity: 0;}
}

/* Story Styling */
.TextContent {
    color: aliceblue;
    font-size: 140%;
    transition: 3s;
    display: flex;
}
    .TextContent:hover{
        color: rosybrown;
    }
/*So because I gave each line its own class all of these are similar. this means the JS is shorter and neater, but the CSS is longer. in any case they do the same thing - 
whenever you hover your mouse over the line the related meme appears. the CSS also blocks the display of all lines other than the first, and all the images till they are relevant
Each image is blocked till its line is hovered over, but you could do this with JS instead if you wanted to*/
    .oneOne:hover:after{
        content: url(images/memes/middleOfJourney.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .middleOfJourney{
            display: none;
            transition: 5s;
            border-radius: 5px;
        }

    .oneTwo{
        display: none;
            
    }
    .oneTwo:hover:after{
        content: url(images/memes/theDarkWood.png);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .theDarkWood{
            display:none;
            transition: 1s;
            border-radius: 5px;
        }


    .oneThree{
        display: none;
       
    }

    .oneFour{
        display: none;
        
    }
    .oneFour:hover:after{
        content: url(images/memes/SoFullOfSleep.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .SoFullOfSleep{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }

    .oneFive{
        display: none;
    }
    .oneFive:hover:after{
        content: url(images/memes/TheHill.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .TheHill{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }

    .oneSix{
        display: none;
        
    }
    .oneSix:hover:after{
        content: url(images/memes/theSun.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .theSun{
            display: none;
            transition: 1s ease;
            border-radius: 5px;
        }

    .oneSeven{
        display: none;
        
    }
    .oneEight{
        display: none;
        
    }
    .oneEight:hover:after{
        content: url(images/memes/Shipwreck.png);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .Shipwreck{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }

    .oneNine{
        display: none;
        
    }
    .oneNine:hover:after{
        content: url(images/memes/PassThatNeverLeftAnyone.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .PassThatNeverLeftAnyone{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }

    .oneTen{
        display: none;
        
    }
    .oneTen:hover:after{
        content: url(images/memes/myHaltedFoot.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .myHaltedFoot{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }

    .oneEleven{
        display: none;
        
    }
    .oneEleven:hover:after{
        content: url(images/memes/leopard.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .leopard{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }
/*Unfortunately, not all the lines have a new idea associated with them, so you either redisplay the same meme or leave it out. If you did bootstrap cards you would have to redisplay the 
same image, Or in a few cases you would get lucky (and you could use different leopard memes...) but then you are loading more images and the site gets fat pretty quickly (an issue for hosting)*/
    .oneTwelve{
        display: none;
        
    }
    .oneThirteen{
        display: none;
       
    }
    .oneFourteen{
        display: none;
        
    }
    .oneFifteen{
        display: none;
       
    }
    .oneFifteen:hover:after{
        content: url(images/memes/equinox.jpg);
        display: block;
        animation: TitleFadeOut 10s;
        height: 50%;
    }

        .equinox{
            display: none;
            transition: 1s;
            border-radius: 5px;
        }
    /*Footer styling - because I used absolute spacing on the body I also needed to use it on the footer - in retrospect this was a poor choice, just flex boxing the whole thing would have been smarter,
    But the footer was a last minute inclusion. The perils of not having a wireframe design*/
    .attribution{
        display: flex;
       align-items: left;

        position: absolute;
        top: 90%;
        right: 60%;
        color: aliceblue;
    }
    /*makes the github logo for the link nice and round*/
    .GithubLogo{
        border-radius: 15px;
    }


