
body {background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size:100%,100%;
background-color: rgb(0, 0, 0); 
display: flex;
justify-content: center;
align-items: center;

} 

.TitleContainer {
    position:absolute;
    left: 30%;
    top: 40%;
align-items: center;
text-align: left;
row-gap: 30px;
column-gap: 30px;
}

.TextCard {color: aliceblue;
    
font-size: 300%;}

.ClickToContinue{color: aliceblue;
    font-size: 200%;
    transition: 1s;
    
}
    .ClickToContinue:hover{
        color: rosybrown;
    }

.DarkWood{
    color: aliceblue;
    font-size: 220%;
    transition: 5s;
    animation: TitleFadeOut 7s forwards;
}

@keyframes TitleFadeOut {
    0%{opacity: 1;}
    100% {opacity: 0;}
}

@keyframes ImageFadeIn {
    0%{opacity:0;}
    100%{opacity: 1;}
}

.TextContent {
    color: aliceblue;
    font-size: 140%;
    transition: 3s;
    display: flex;
}
    .TextContent:hover{
        color: rosybrown;
    }

    .oneOne:hover:after{
        content: url(images/memes/middleOfJourney.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .middleOfJourney{
            display: none;
            transition: 5s;
        }

    .oneTwo{
        display: none;
        transform: translate(-20%,-30%);    
    }
    .oneTwo:hover:after{
        content: url(images/memes/theDarkWood.png);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .theDarkWood{
            display:none;
            transition: 1s;
        }


    .oneThree{
        display: none;
        transform: translate(0%,-10%);
    }

    .oneFour{
        display: none;
        transform: translate(-50%,-30%);
    }
    .oneFour:hover:after{
        content: url(images/memes/SoFullOfSleep.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .SoFullOfSleep{
            display: none;
            transition: 1s;
        }

    .oneFive{
        display: none;
    }
    .oneFive:hover:after{
        content: url(images/memes/TheHill.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .TheHill{
            display: none;
            transition: 1s;
        }

    .oneSix{
        display: none;
        transform: translate(-10%,30%);
    }
    .oneSix:hover:after{
        content: url(images/memes/theSun.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .theSun{
            display: none;
            transition: 1s ease;
        }

    .oneSeven{
        display: none;
        transform: translate(-20%,-30%);
    }
    .oneEight{
        display: none;
        transform: translate(0%,-30%);
    }
    .oneEight:hover:after{
        content: url(images/memes/Shipwreck.png);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .Shipwreck{
            display: none;
            transition: 1s;
        }

    .oneNine{
        display: none;
        transform: translate(-10%,-30%);
    }
    .oneNine:hover:after{
        content: url(images/memes/PassThatNeverLeftAnyone.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .PassThatNeverLeftAnyone{
            display: none;
            transition: 1s;
        }

    .oneTen{
        display: none;
        transform: translate(-20%,-30%);
    }
    .oneTen:hover:after{
        content: url(images/memes/myHaltedFoot.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }

        .myHaltedFoot{
            display: none;
            transition: 1s;
        }

    .oneEleven{
        display: none;
        transform: translate(-50%,-30%);
    }
    .oneEleven:hover:after{
        content: url(images/memes/leopard.jpg);
        display: block;
        animation: TitleFadeOut 10s;
    }
        .leopard{
            display: none;
            transition: 1s;
        }

    .oneTwelve{
        display: none;
        transform: translate(-10%,20%);
    }
    .oneThirteen{
        display: none;
        transform: translate(10%,20%);
    }
    .oneFourteen{
        display: none;
        transform: translate(0%,20%);
    }
    .oneFifteen{
        display: none;
        transform: translate(0%,-40%);
    }
    .oneFifteen:hover:after{
        content: url(images/memes/equinox.jpg);
        display: block;
        animation: TitleFadeOut 10s;
        height: 50%;
    }

        .equinox{
            display: none;
            transition: 1s;
        }


